<div class="list-group list-group-transparent mb-3 ml-3">
    <a class="list-group-item list-group-item-action d-flex align-items-center active" href="#">
        Ansatte
    </a>
    <a class="list-group-item list-group-item-action d-flex align-items-center" href="#">
        Preferences
    </a>
    <a class="list-group-item list-group-item-action d-flex align-items-center" href="#">
        Privacy SeFttings
    </a>
    <a class="list-group-item list-group-item-action d-flex align-items-center" href="#">
        Theme
    </a>
    <a class="list-group-item list-group-item-action d-flex align-items-center" href="#">
        Audience and visibility
    </a>
    <a class="list-group-item list-group-item-action d-flex align-items-center" href="#">
        App Development
    </a>
</div>